
.Todo-title {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

@media screen and (max-width:520px) {
    
    .Todo-title{
        font-size: 18px;
    }
}

@media screen and (max-width:340px) {
    
    .Todo-title{
        font-size: 14px;
        margin: 32px 15px 32px 25px;
    }
}

.empty{
    color: rgb(21, 186, 73);
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    
}
